    h1 {
        /* Braincode SMS Logs */
        position: absolute;
        width: 600px;
        height: 50px;
        left: 10px;
        top: 5px;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 30px;
        line-height: 5px;
        color: #B30000;
    }
    
    nav.menu ul {
        /* Rectangle 13 */
        position: absolute;
        width: 1220px;
        height: 40px;
        left: 10px;
        top: 50px;
        background: #8E8D8D;
        overflow: hidden;
        border-radius: 10px;
        list-style: none;
    }
    
    nav.menu ul li {
        float: left;
    }
    
    nav.menu ul a {
        font-weight: 600;
        font-size: 15px;
        display: block;
        color: #fff;
        text-transform: uppercase;
        text-decoration: none;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    
    nav.menu ul a:hover {
        text-decoration: underline;
    }
    
    li {
        padding-top: 10px;
        padding-right: 40px;
    }
    
    .content {
        /* Rectangle 1 */
        position: absolute;
        width: 1260px;
        height: 125px;
        left: 10px;
        top: 110px;
        background: #E7E7E7;
        border-radius: 10px;
    }
    
    .search1 {
        position: absolute;
        width: 400px;
        height: 25px;
        left: 5px;
        top: 5px;
        background: #FFFFFF;
        border-radius: 5px;
    }
    
    .search2 {
        position: absolute;
        width: 220px;
        height: 25px;
        left: 5px;
        top: 60px;
        background: #FFFFFF;
        border-radius: 5px;
    }
    
    .search3 {
        position: absolute;
        width: 220px;
        height: 25px;
        left: 230px;
        top: 60px;
        background: #FFFFFF;
        border-radius: 5px;
    }
    
    .search4 {
        position: absolute;
        width: 220px;
        height: 25px;
        left: 455px;
        top: 60px;
        background: #FFFFFF;
        border-radius: 5px;
    }
    
    .search5 {
        position: absolute;
        width: 220px;
        height: 25px;
        left: 680px;
        top: 60px;
        background: #FFFFFF;
        border-radius: 5px;
    }
    
    .tombol1 {
        position: absolute;
        width: 40px;
        left: 400px;
        top: 5px;
        background: #C8C8C8;
        color: blacks;
        font-size: 17px;
        border-left: none;
        border-top: none;
        cursor: pointer;
    }
    
    button:hover {
        text-decoration: underline;
    }
    
    .dropbtn {
        background-color: #C8C8C8;
        color: black;
        height: 25px;
        font-size: 16px;
        border: none;
        cursor: pointer;
        font-weight: 600;
        width: 160px;
    }
    
    .dropdown {
        position: absolute;
        width: 220px;
        height: 25px;
        left: 905px;
        top: 60px;
        border-radius: 5px;
    }
    
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f1f1f1;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
    }
    
    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        font-weight: 600
    }
    
    .dropdown-content a:hover {
        background-color: #ddd
    }
    
    .show {
        display: block;
    }
    
    .filter {
        position: absolute;
        left: 1070px;
        top: 60px;
        border-radius: 5px;
        color: red;
    }
    
    .tombol2 {
        width: 100px;
        height: 25px;
        background-color: #FFADAD;
        font-weight: 600;
        color: white;
    }
    
    .info1 {
        position: absolute;
        width: 77px;
        height: 30px;
        left: 10px;
        top: 80px;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 29px;
        color: #919191;
    }
    
    .info2 {
        position: absolute;
        width: 77px;
        height: 30px;
        left: 150px;
        top: 80px;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 29px;
        color: #919191;
    }
    
    .info3 {
        position: absolute;
        width: 77px;
        height: 30px;
        left: 300px;
        top: 80px;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 29px;
        color: #919191;
    }
    
    .info4 {
        position: absolute;
        width: 77px;
        height: 30px;
        left: 450px;
        top: 80px;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 29px;
        color: #919191;
    }
    
    .info5 {
        position: absolute;
        width: 77px;
        height: 30px;
        left: 600px;
        top: 80px;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 29px;
        color: #919191;
    }
    
    .info6 {
        position: absolute;
        width: 77px;
        height: 30px;
        left: 750px;
        top: 80px;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 29px;
        color: #919191;
    }
    
    .info7 {
        position: absolute;
        width: 77px;
        height: 30px;
        left: 900px;
        top: 80px;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 29px;
        color: #919191;
    }
    
    .info8 {
        position: absolute;
        width: 77px;
        height: 30px;
        left: 1050px;
        top: 80px;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 29px;
        color: #919191;
    }
    
    .date1 {
        position: absolute;
        width: 158px;
        height: 63px;
        left: 20px;
        top: 235px;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 15px;
        color: #FF0000;
    }
    
    .service1 {
        position: absolute;
        width: 158px;
        height: 63px;
        left: 175px;
        top: 240px;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 15px;
    }
    
    .direction1 {
        position: absolute;
        width: 158px;
        height: 63px;
        left: 310px;
        top: 240px;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 15px;
        line-height: 15px;
    }
    
    .from1 {
        position: absolute;
        width: 158px;
        height: 63px;
        left: 430px;
        top: 240px;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 15px;
        line-height: 15px;
    }
    
    .to1 {
        position: absolute;
        width: 158px;
        height: 63px;
        left: 570px;
        top: 240px;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 15px;
        line-height: 15px;
    }
    
    .segment1 {
        position: absolute;
        width: 158px;
        height: 63px;
        left: 760px;
        top: 240px;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 15px;
        line-height: 15px;
    }
    
    .status1 {
        position: absolute;
        width: 158px;
        height: 63px;
        left: 900px;
        top: 240px;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 15px;
        line-height: 15px;
    }
    
    .media1 {
        position: absolute;
        width: 158px;
        height: 63px;
        left: 1075px;
        top: 240px;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 15px;
    }